# myapp에 대한 기본값입니다.
# 이 파일은 YAML 형식입니다.
# 템플릿으로 전달될 변수들을 여기서 선언합니다.

replicaCount: 2

image:
  repository: 10.2.2.40:5000/library/energy-api
  pullPolicy: Always
  # 차트의 기본 appVersion 대신 사용할 이미지 태그를 덮어씁니다.
  tag: "latest"

imagePullSecrets:
  - name: harbor-secret
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # 서비스 계정을 생성할지 여부를 지정합니다.
  create: true
  # 서비스 계정에 추가할 어노테이션(Annotations)입니다.
  annotations: {}
  # 사용할 서비스 계정의 이름입니다.
  # 설정하지 않고 create가 true일 경우, fullname 템플릿을 사용하여 이름이 자동 생성됩니다.
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000 (볼륨 마운트 시 파일 소유 그룹 ID)

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL (모든 권한 제거)
  # readOnlyRootFilesystem: true (루트 파일 시스템을 읽기 전용으로 설정)
  # runAsNonRoot: true (루트 권한으로 실행 금지)
  # runAsUser: 1000 (컨테이너를 실행할 사용자 ID)

service:
  type: ClusterIP
  port: 80
  targetPort: 8000
  # nodePort: 

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true" (TLS 인증서 자동 발급 관련)
  
  # ✅ 충돌 방지를 위해 도메인 변경 (없으면 hosts 파일에 등록 필요)
  # 10.2.2.101 로 접속하려면 로컬 PC의 hosts 파일에 "10.2.2.101 energy-api.local" 추가 추천
  hosts:
    - host: "10.2.2.101"
      paths:
        - path: /
          pathType: Prefix

resources: {}
  # limits: (리소스 최대 사용량 제한)
  #   cpu: 100m
  #   memory: 128Mi
  # requests: (리소스 최소 보장량 요청)
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: role
          operator: In
          values:
          - energy

env:
  NODE_ENV: production

livenessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10